
<head>
<meta name="keywords" content="sliding, background-image, css3, panel, images, slider" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<link rel="stylesheet" type="text/css" href="css/demo.css" />
<link rel="stylesheet" type="text/css" href="css/style4.css" /></head>
<section>

			
           
			
			<center><h1>TUS RECUERDOS, NUESTRA ESCENCIA </h1></center></br>
				
			</header>
			<section class="cr-container">
				<script>
				
				$("cr-selector-img-1").click(function(){
				    $("p").text('este es el 1');
				});				
				</script>
				<input id="select-img-1" name="radio-set-1" type="radio" class="cr-selector-img-1"  checked/>
				<label for="select-img-1" class="cr-label-img-1">1</label>
				
				<input id="select-img-2" name="radio-set-1" type="radio" class="cr-selector-img-2" />
				<label for="select-img-2" class="cr-label-img-2">2</label>
				
				<input id="select-img-3" name="radio-set-1" type="radio" class="cr-selector-img-3"/>
				<label for="select-img-3" class="cr-label-img-3">3</label>
				
				<input id="select-img-4" name="radio-set-1" type="radio" class="cr-selector-img-4"/>
				<label for="select-img-4" class="cr-label-img-4">4</label>
				
				
				<p></p>
				<div class="clr"></div>	
				<div class="cr-bgimg">
					<div>
						<span>Slice 1 - Image 1</span>
						<span>Slice 1 - Image 2</span>
						<span>Slice 1 - Image 3</span>
						<span>Slice 1 - Image 4</span>
						
					</div>
					<div>
						<span>Slice 2 - Image 1</span>
						<span>Slice 2 - Image 2</span>
						<span>Slice 2 - Image 3</span>
						<span>Slice 2 - Image 4</span>

					</div>
					<div>
						<span>Slice 3 - Image 1</span>
						<span>Slice 3 - Image 2</span>
						<span>Slice 3 - Image 3</span>
						<span>Slice 3 - Image 4</span>
					</div>
					<div>
						<span>Slice 4 - Image 1</span>
						<span>Slice 4 - Image 2</span>
						<span>Slice 4 - Image 3</span>
						<span>Slice 4 - Image 4</span>
					</div>
				</div>
				<div class="cr-titles">
					<h3><span>Galas</span><span>La fantasia te absorve</span></h3>
					<h3><span>Matromonio</span><span>Donde tus sueños emergen</span></h3>
					<h3><span>Sesiones</span><span>Egocentrico carepoto</span></h3>
					<h3><span>Bautizos</span><span>Cuando el silencio toca lo natural</span></h3>
				</div>
				<div>
					
				</div>	
			</section>
 			
</section>

